.feed-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feed-display {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color: #404547;
    height: 90vh;
    width: 90vw;
    margin-top: 20px;
}

.new-post-display {
    display: flex;
    flex-direction: column;
    color: #DADADA;
    align-items: center;
    text-align: center;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: row;
    background-color: #2C2C30;
    color: #C4C4C4;
    width: 90%;
    margin: 10px;
}

.post-left-column {
    display: flex;
    flex-direction: column;
}

.post-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.post-user-info p {
    margin-left: 10px;
}

.date-display {
    font-size: 14px;
    margin-top: 0px;
}

.post-text {
    margin: 10px 0px 0px 20px;
    font-size: 16px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
    border: #2C2C30;
    background-color: #C4C4C4;
    color: #2C2C30;
    outline: none;
}

.post-button {
    background-color: #D4B300;
    color:  #DADADA;
    border: none;
    border-radius: 5px;
    padding: 10px;
}