.left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
  }
  
.blurb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.blurb h2 {
  color: #D4B300;
  margin: 0px 0px 10px 0px;
}

.blurb p {
  color: #DADADA;
  margin: 0;
  font-size: 18px;
}

.preview {
  display: flex;
  flex-direction: column;
  background-color: #404547;
  color: #E5E5E5;
  padding: 0px 10px 0px 10px;
}

h3 {
  color: #D4B300;
  margin-top: 15px;
}

.preview-box {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.preview-box-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.preview-box-list p {
  margin: 5px 0px 5px 0px;
}

.preview-img {
  height: 250px;
  margin: 10px 10px 0px 0px;
}

.games-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #404547;
  color: #DADADA;
}

.games-box h3 {
  color: #D4B300;
}

.game-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.game-logo {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}