.setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.checkbox-list {
    display: inline-block;
    text-align: left;
    color: #DADADA;
}

.checkbox label {
    color: #DADADA;
}

p {
    color: #DADADA;
}

button {
    background-color: #D4B300;
    color: #DADADA;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    min-width: 100px;
    max-width: 150px;
    margin-right: 20px;
}

.button-list {
    margin: 20px;
}